{% extends "base.html" %}


{% block content %}

<div class="card-box mb-30">
    <div class="pd-20">
        <h4 class="text-blue h4">Inventory Acc List</h4>
    </div>
    <div class="pb-20">
        <table class="data-table table stripe hover nowrap">
            <thead>
            <tr class="table-success">
                <th class="">PO#</th>
                <th class="">Size</th>
                <th class="">AvaiableQty</th>
                <th>Request</th>

            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
            <tr class="">
                <td class="table-plus"><a href="#"><b>{{object.accinv}}</b></a></td>
                <td class="">{{ object.size }}</td>
                <td>{{object.quantity}}</td>
                <td>
                    <a
                            href="#"
                            class="btn-primary btn-sm"
                            data-toggle="modal"
                            data-target="#Medium-modal{{object.id}}"
                            type="button"
                    >Request

                    </a>

                    <div
									class="modal fade"
									id="Medium-modal{{object.id}}"
									tabindex="-1"
									role="dialog"
									aria-labelledby="myLargeModalLabel"
									aria-hidden="true"
								>
									<div class="modal-dialog modal-dialog-centered">
										<div class="modal-content">
											<div class="modal-header">
												<h4 class="modal-title" id="myLargeModalLabel">
													Large modal{{object.id}}{{object.size}}
												</h4>
												<button
													type="button"
													class="close"
													data-dismiss="modal"
													aria-hidden="true"
												>
													×
												</button>
											</div>
											<div class="modal-body">
                                                <input type="text" class="form-control">
											</div>
											<div class="modal-footer">
												<button
													type="button"
													class="btn btn-secondary"
													data-dismiss="modal"
												>
													Close
												</button>
												<button type="button" class="btn btn-primary">
													Save changes
												</button>
											</div>
										</div>
									</div>
								</div>

                </td>


            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock content %}